/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #eeeeee;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  header {
    background-color: #eeeeee;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
  }
  
  nav img {
    height: 50px;
  }

  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  section {
    padding: 3rem;
  }
  
  /* Home Page Styles */
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .about {
    text-align: center;
  }
  
  .about h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .about p {
    margin-bottom: 2rem;
  }
  
  .about a {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #333;
    color: #eeeeee;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .about a:hover {
    background-color: #555;
  }
  
  /* Menu Page Styles */
  .menu {
    text-align: center;
  }
  
  .menu h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .menu h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .menu li {
    margin: 1rem;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .menu li:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .menu img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .menu h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .menu p {
    margin-bottom: 1rem;
  }
  
  .menu span {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    background-color: #333;
    color: #eeeeee;
    border-radius: 3px;
  }

  /* Footer styles */
footer {
  background-color: #333;
  color: #eeeeee;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}
  /* Contact Page Styles */
  .contact {
    text-align: center;
  }
  
  .contact h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .contact ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .contact li {
    margin: 1rem;
  }
  
  .contact li a {
    font-size:large;
  }  

  /* ll*/ 
  
  ul {
    list-style: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    padding: 20px;
  }
  
  